name: Build
on:
  pull_request:
    paths:
      - .github/workflows/build.yml
      - Dockerfile
  push:
    branches:
      - master
    paths:
      - .github/workflows/build.yml
      - Dockerfile
    tags:
      - "v*"
env:
  DOCKERHUB_USERNAME: hoshinorei
  GITHUB_CONTAINER_REGISTRY_DOMAIN: ghcr.io
  IMAGE_NAME: l4d2server
jobs:
  build_docker_image:
    name: Build Docker Image
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GITHUB_CONTAINER_REGISTRY_DOMAIN }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
            ${{ env.GITHUB_CONTAINER_REGISTRY_DOMAIN }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=edge,branch=master
            type=ref,event=pr
            type=ref,event=tag
            type=sha,format=long
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
